@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #555;
  --color-light: #ccc;
  --color-lighter: #f0f0f0;
  --color-green: #1ed760;
  --color-lightgreen: #f0fdf4;
}

body.dark {
  --color-white: #111;
  --color-black: #fff;
  --color-gray: #999;
  --color-light: #555;
  --color-lighter: #333;
  --color-lightgreen: #052e16;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-gray);
  font-weight: 400;
  background-color: var(--color-white);
}

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a {
  color: var(--color-black);
  text-decoration: none;
}

svg {
  fill: currentColor;
  display: inline-block;
  vertical-align: text-top;
}

button {
  all: unset;
}

strong {
  font-weight: 700;
}

h1 {
  font-size: 36px;
  line-height: 1;
  color: var(--color-black);
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 20px;
}

@media screen and (min-width: 900px) {
  .content {
    flex-direction: row;
  }
}

.avatar {
  width: 106px;
  height: 106px;
}

.avatar img {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: slideImg 1s ease-in 200ms forwards;
}

@keyframes slideImg {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.right,
.top,
.bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right,
.bottom {
  gap: 20px;
}

.btn-dark-mode {
  cursor: pointer;
  font-style: italic;
  color: var(--color-gray);
  transition: color 200ms ease-out;
}
.btn-dark-mode:hover {
  color: var(--color-black);
}

.link-music {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  line-height: 1;
  color: var(--color-gray);
  border: 1px solid var(--color-lighter);
  background-color: transparent;
  border-radius: 8px;
  transition: all 200ms ease-out;
}
.link-music:hover {
  transform: scale(1.02);
  color: var(--color-green);
  background-color: var(--color-lightgreen);
  opacity: 1;
}

.link {
  border-bottom: 1px solid var(--color-light);
  transition: border 200ms ease-out;
}
.link:hover {
  border-color: var(--color-black);
}

ul {
  padding-left: 20px;
}

ul li:nth-child(2) {
  margin: 8px 0;
}

.copyright {
  font-size: 14px;
}

.slideIn {
  opacity: 0;
}

.top h1:nth-child(1) {
  animation: slideIn 1s ease-in 100ms forwards;
}

.top p:nth-child(2) {
  animation: slideIn 1s ease-in 200ms forwards;
}

.top a:nth-child(3) {
  animation: slideIn 1s ease-in 300ms forwards;
}

.top button:nth-child(4) {
  animation: slideIn 1s ease-in 400ms forwards;
}

.bottom p:nth-child(1) {
  animation: slideIn 1s ease-in 500ms forwards;
}

.bottom p:nth-child(2) {
  animation: slideIn 1s ease-in 600ms forwards;
}

.bottom a:nth-child(3) {
  animation: slideIn 1s ease-in 700ms forwards;
}

.bottom p:nth-child(4) {
  animation: slideIn 1s ease-in 800ms forwards;
}

.bottom ul:nth-child(5) li:nth-child(1) {
  animation: slideIn 1s ease-in 900ms forwards;
}

.bottom ul:nth-child(5) li:nth-child(2) {
  animation: slideIn 1s ease-in 1000ms forwards;
}

.bottom ul:nth-child(5) li:nth-child(3) {
  animation: slideIn 1s ease-in 1100ms forwards;
}

.bottom p:nth-child(6) {
  animation: slideIn 1s ease-in 1200ms forwards;
}

.bottom p:nth-child(7) {
  animation: slideIn 1s ease-in 1300ms forwards;
}

.footer p:nth-child(1) {
  animation: slideIn 1s ease-in 1400ms forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
