@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --white: #ffffff;
  --white-opacity-01: rgba(255, 255, 255, 0.1);
  --white-grey: #eff1f3;
  --grey-1: #c9cbcb;
  --grey-2: #747474;
  --grey-3: #2f2f2f;
  --black: #131313;
  --black-0: #000000;
  --black-opacity-01: rgba(0, 0, 0, 0.1);
  --blue: #1ca2f9;
  --blue-white: #d2ecfe;
  --green: #20c26e;
  --green-white: #cdf3e1;
  --yellow: #fbb239;
  --yellow-white: #ffe8c2;
  --yellow-card: #fef08a;
  --red: #f8502a;
  --primary: #1467e9;
  --primary-hover: #217cf0;
  --primary-pressed: #0359e6;
  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --btn-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --shadow-card: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 15px 20px -5px;
  --shadow-card-hover: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 5px 10px -5px;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 1.4;
  color: var(--white);
  font-weight: 400;
  background-color: var(--black-0);
}

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a {
  color: var(--white);
  text-decoration: none;
}

svg {
  fill: currentColor;
}

button {
  all: unset;
}

b,
strong {
  font-weight: 700;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.link {
  display: inline-block;
  color: var(--grey-1);
  text-decoration: underline;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.link:hover {
  color: var(--white);
}

.main {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 140px;
  margin-bottom: 40px;
}

.container {
  width: 400px;
  padding: 0 20px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.header-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  display: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 2px solid var(--grey-3);
}

.title {
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
}

.title span {
  font-weight: 400;
  color: var(--grey-2);
}

.subtitle {
  font-size: 14px;
  line-height: 1;
  color: var(--grey-2);
}

.card-title {
  font-weight: 600;
}

.description {
  color: var(--grey-1);
}

.info {
  font-size: 14px;
  color: var(--grey-1);
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.projects-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.skills {
  display: flex;
  align-items: center;
  background-color: var(--black-0);
}

.skill {
  width: 40px;
  height: 40px;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: var(--black-opacity-01);
  border-radius: 50%;
  padding: 4px;
}

.skill-icon {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.skill + .skill {
  margin-left: -16px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .cards {
    justify-content: flex-start;
    width: 430px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 205px;
  height: 280px;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--black);
  will-change: transform;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.card-info-figures {
  display: flex;
  align-items: center;
  width: 110%;
  margin: -5% 0 5% -5%;
}

.figure {
  width: fit-content;
  height: fit-content;
  border-radius: 12px;
  box-shadow: var(--shadow-card);
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.card-dental {
  transform: translateX(-40px) rotate(-1deg);
}

.card-store {
  transform: translateX(20px) rotate(1deg);
}

.card-note {
  transform: translateX(-60px) rotate(-1deg);
}

.card-grocery {
  transform: rotate(1deg);
}

@media screen and (min-width: 768px) {
  .card-dental {
    transform: translate(0, -20px) rotate(-1deg);
  }

  .card-store {
    transform: translate(0, 0) rotate(1deg);
  }

  .card-note {
    transform: translate(0, -20px) rotate(1deg);
  }

  .card-grocery {
    transform: translate(0, 0) rotate(-1deg);
  }
}

.grocery-title {
  font-size: 36px;
  line-height: 1;
}

.grocery-title span {
  color: var(--green);
  font-weight: 400;
}

.card-links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: var(--grey-2);
  transition: color 200ms ease-in-out;
}

.btn svg {
  transition: transform 200ms ease-in-out;
}

.btn:hover svg {
  transform: rotate(-12deg);
}

.btn-code:hover {
  color: var(--primary);
}

.btn-live:hover svg {
  color: var(--red);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.footer p {
  color: var(--grey-2);
}

.btn-email {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  border-radius: 100px;
  background-color: var(--primary);
  color: var(--white);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.btn-email:hover {
  background-color: var(--primary-hover);
}

.email-popup {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  width: max-content;
  border-radius: 100px;
  padding: 12px 20px;
  font-weight: 400;
  color: var(--white-grey);
  font-size: 14px;
  z-index: 1000;
  background-color: var(--grey-3);
  box-shadow: var(--shadow-card);
  animation: email-fade-in 400ms ease-in-out;
}

.hidden {
  display: none;
}

.email-popup.fade-out {
  animation: email-fade-out 400ms ease-in-out;
}

@keyframes email-fade-in {
  0% {
    opacity: 0;
    transform: translateX(-50%) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
}

@keyframes email-fade-out {
  0% {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) scale(0.95);
  }
}

.slide-enter {
  opacity: 0;
}

.slide-enter-active {
  animation: slide-enter 1s ease-in forwards;
}

@keyframes slide-enter {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
